[submodule "fa25/ece264/hw/hw02-file-io-twaldin"]
	path = fa25/ece264/hw/hw02-file-io-twaldin
	url = https://github.com/ECE264-2025Fall-WL/hw02-file-io-twaldin.git
[submodule "fa25/ece264/hw/hw03-longest-common-substring-twaldin"]
	path = fa25/ece264/hw/hw03-longest-common-substring-twaldin
	url = https://github.com/ECE264-2025Fall-WL/hw03-longest-common-substring-twaldin.git
[submodule "fa25/ece264/hw/hw01-who-gets-the-cake-twaldin"]
	path = fa25/ece264/hw/hw01-who-gets-the-cake-twaldin
	url = https://github.com/ECE264-2025Fall-WL/hw01-who-gets-the-cake-twaldin.git
[submodule "fa25/ece264/hw/hw04-analyze-binary-files-spring-2025-twaldin"]
	path = fa25/ece264/hw/hw04-analyze-binary-files-spring-2025-twaldin
	url = https://github.com/ECE264-2025Fall-WL/hw04-analyze-binary-files-spring-2025-twaldin.git
[submodule "fa25/ece264/hw/hw05-qsort-twaldin"]
	path = fa25/ece264/hw/hw05-qsort-twaldin
	url = https://github.com/ECE264-2025Fall-WL/hw05-qsort-twaldin.git
[submodule "fa25/ece264/hw/in-class-programming-assignment-2-twaldin"]
	path = fa25/ece264/hw/in-class-programming-assignment-2-twaldin
	url = https://github.com/ECE264-2025Fall-WL/in-class-programming-assignment-2-twaldin.git
[submodule "fa25/ece264/hw/hw06-string-library-twaldin"]
	path = fa25/ece264/hw/hw06-string-library-twaldin
	url = https://github.com/ECE264-2025Fall-WL/hw06-string-library-twaldin.git
